.message-container {
  display: grid;
  max-width: 500px; 
  grid-template-rows: 1fr;
  grid-template-areas: "image text";
  grid-gap: 1px; 
 }

.text-container {
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0;
  grid-template-areas: 
    "a b c"
    "a b c";
}

.content {
  grid-area: c;
  margin: 0 70px;
  max-width: 1000px; 
  word-break:break-all;
}

.avatar-container {
  grid-area: a;
  grid-area: image; 
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

.time-right {
  float: right;
  color: #aaa;  
}

.username {
    grid-area: b;
    margin: 0 70px;
 }

.addressed-message {
  background-color: #ffff80;
}
